.feedWrapper {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.feedWrapper .feedCard {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px 0;
  border-top: 2px solid lightgray;
}

.feedWrapper .feedCard .feedCardText h2 {
  margin-top: 0;
}

.feedWrapper .feedCard .feedCardText p {
  color: gray;
  font-size: 14px;
  line-height: 24px;
}

.feedWrapper .feedCard .feedCardImage {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 135px;
  width: 100%;
  height: 100%;
  margin: 0;
}

.feedWrapper .feedCard .feedCardImage img {
  height: 100%;
  width: 100%;
}

.feedWrapper .feedCard .feedCardReadMore a {
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: max-content;
  font-size: 15px;
}

/* Media Queries */
@media only screen and (max-width: 900px) {
  .feedWrapper .feedCard {
    flex-direction: column;
  }

  .feedWrapper .feedCard .feedCardImage {
    max-width: 40%;
  }

  .feedWrapper .feedCard .feedCardText {
    text-align: center;
  }
}

@media only screen and (max-width: 700px) {
  .feedWrapper .feedCard .feedCardImage {
    max-width: 60%;
  }
}

@media only screen and (max-width: 600px) {
  .feedWrapper .feedCard .feedCardImage {
    max-width: 100%;
  }
}
