.communitesWrapper {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  padding: 60px 20px;
  gap: 10px;
}

.communitesWrapper .userCard {
  width: 100%;
  background-color: white;
  padding: 20px;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.communitesWrapper .userCard .userPersonalInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.communitesWrapper .userCard .userPersonalInfo .userImage {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.communitesWrapper .userCard .userPersonalInfo .userImage span {
  height: 12px;
  width: 12px;
  background-color: green;
  border-radius: 50%;
  position: absolute;
  bottom: 2px;
  right: 7px;
}

.communitesWrapper .userCard .userPersonalInfo .userText {
  width: 100%;
}

.communitesWrapper .userCard .userPersonalInfo .userText .nameSettings {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.communitesWrapper .userCard .userPersonalInfo .userText .nameSettings h2 {
  margin: 0 0 8px 0;
  color: #1f2937;
}

.communitesWrapper .userCard .userPersonalInfo .userText .price_workhours {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.communitesWrapper .userCard .userPersonalInfo .userText .price_workhours span {
  font-size: 17px;
}

.communitesWrapper .userCard .userAbout {
  padding: 5px 0;
}

.communitesWrapper .userCard .userAbout p {
  color: gray;
  line-height: 24px;
}

.communitesWrapper .userCard .userTechStack {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.communitesWrapper .userCard .userTechStack span {
  padding: 6px 12px;
  border-radius: 20px;
  background-color: #e5e7eb;
  font-weight: 500;
  font-size: 14px;
}

.communitesWrapper .userCard .bookButton {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
}

.communitesWrapper .userCard .bookButton a {
  background-color: #111827;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 400;
}

/* Media Queries */
@media only screen and (max-width: 750px) {
  .communitesWrapper {
    grid-template-columns: 1fr;
    padding: 20px;
    gap: 25px;
  }

  .communitesWrapper .userCard .bookButton {
    margin-top: 20px;
  }

  .communitesWrapper .userCard .bookButton a {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .communitesWrapper .userCard .userPersonalInfo .userText .nameSettings h2 {
    font-size: 20px;
  }
}
