/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f9fafb;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
