.header {
  padding: 0px 20px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.header .headerText h1,
.header .headerText p {
  color: white;
}

.header .headerText p {
  line-height: 28px;
  font-weight: initial;
  padding-bottom: 15px;
  max-width: 500px;
  width: 100%;
}

.header .headerText,
.header .headerImage {
  width: 100%;
}

.header .headerImage {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Media Queries */
@media only screen and (max-width: 860px) {
  .header {
    flex-direction: column;
  }

  .header .headerText {
    text-align: center;
  }

  .header .headerText p {
    padding: 0;
    margin: auto;
  }
}
