.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar .logoAndUL {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}

.navbar .logoAndUL a img {
  max-width: 100px;
  width: 100%;
}

.navbar .logoAndUL ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.navbar .logoAndUL ul li {
  list-style-type: none;
}

.navbar .logoAndUL ul li a {
  font-size: 16px;
  color: gray;
  font-weight: initial;
}

.navbar .logoAndUL ul li a.active {
  font-weight: 500;
  color: black;
}

.navbar .inputAndButton {
  /* background-color: red; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  gap: 20px;
}

.navbar .inputAndButton .inputField {
  background-color: #f3f4f6;
  border: 1px solid #f3f4f6;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  height: 40px;
  max-width: 350px;
  width: 100%;
}

.navbar .inputAndButton .inputField input {
  width: 100%;
  font-size: 15px;
  padding: 5px;
  border: none;
  outline: none;
  background-color: transparent;
}

.navbar .inputAndButton .inputField button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.navbar .inputAndButton .stars {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f3f4f6;
  border-radius: 5px;
  padding: 10px;
  gap: 10px;
}

.navbar .inputAndButton .stars span {
  color: gray;
  font-size: 13px;
}

.navbar .inputAndButton .contribute a {
  background-color: #111827;
  border: 1px solid #111827;
  padding: 10px 20px;
  font-size: 14px;
  color: white;
  font-weight: initial;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

/* Media Queries */
@media only screen and (max-width: 1200px) {
  .navbar {
    flex-direction: column;
    gap: 25px;
    padding: 20px;
  }

  .navbar .inputAndButton,
  .navbar .logoAndUL {
    width: 80%;
  }

  .navbar .logoAndUL,
  .navbar .inputAndButton {
    justify-content: center;
  }
}

@media only screen and (max-width: 860px) {
  .navbar .inputAndButton,
  .navbar .logoAndUL {
    width: 100%;
  }
}

@media only screen and (max-width: 650px) {
  .navbar .inputAndButton {
    /* flex-direction: column; */
    gap: 15px;
    display: grid;
    grid-template-columns: 1fr;
  }

  .navbar .inputAndButton .inputField {
    width: 100%;
    max-width: unset;
  }

  .navbar .inputAndButton .contribute button {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .navbar .logoAndUL {
    flex-direction: column;
    justify-content: center;
    gap: 15px;
  }

  .navbar .logoAndUL ul {
    gap: 15px;
    padding: 0;
  }

  .navbar .logoAndUL ul li a {
    font-size: 16px;
  }
}
